/* Minecraftia Fonts from free: https://www.dafont.com/minecraftia.font */
@font-face {
    font-family: "Minecraft";
    src: url("mcfont.ttf");
}
.mcui
{
	display: inline-block;
	position: relative;
	background-color: #C6C6C6;
	border: 2px solid;
	border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
	padding: 6px;
	text-align: left;
	white-space: nowrap;
	vertical-align: bottom;
    text-shadow: 1px 2px 0 #464646;;
    font-family: "Minecraft", "Times New Roman", sans-serif;
}
.ui-crafting-table
{
	width: 10cm;
	height: 5cm;
}
.grid-crafting-table
{
	/* padding: 5px; */
	/* background: #c6c6c6; */
	display: inline-block;
	padding: 24px 25px;
}
.row-grid-crafting-table
{
	padding: 0;
	margin: 0;
	display: flex;
}
.item-inventory
{
	background: #8b8b8b;
    display: inline-block;
    border: 2px solid;
    border-color: #5b5b5b #ffffff #ffffff #5b5b5b;
	position: relative;		
	cursor: auto;
}
.grid-item-crafting-table
{
    height: 40px;
    width: 40px;	
	/* box-sizing: border-box; */
}
.grid-item-crafting-table:not(:first-child)
{
	
	
}
.arrow-crafting-table
{
	padding: 40px 30px;
	background: url('Arrow.png') no-repeat;
	display: inline-block;
    vertical-align: sub;
}
.result-crafting-table
{
    /* display: inline-block; */
    padding: 20px;
    /* vertical-align: middle; */
    display: inline-block;
    vertical-align: unset;
    position: relative;
    margin: 25px 0;
}
.item .item-tooltip, .item::after
{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.81);
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    border: 3px solid #3d0080;
    width: 150px;
    top: 75%;
    left: 50%;
    text-align: left;
    position: absolute;
    z-index: 1;
    font-family: "Minecraft", "Times New Roman", sans-serif;
    font-size: 12pt;
    white-space: normal;
}

.item .item-tooltip .enchant
{
    color: yellow;
}
.item .item-tooltip span
{
    color: #808080;
}
.item:hover .item-tooltip, .item:hover .item::after {
    visibility: visible;
}
.item .stack
{
    font-size: 12pt;
    color: #ffffff;
    position: absolute;
    z-index: 0;
    top: 42px;
    left: 42px;
    /*text-shadow: 2px 3px 0 #DCDCDC;*/
}
.item .item-tooltip .item-tooltip-title
{
    font-weight: normal;
}
.item .item-tooltip b, .item .item-tooltip i,.item .item-tooltip span, .item .item-tooltip p
{
    display: block;

}

.double-zoom { transform: scale(2); }