/* Minecraftia Fonts from free: https://www.dafont.com/minecraftia.font */
@font-face {
    font-family: "Minecraft";
    src: url("mcfont.ttf");
}
.mcui
{
	display: inline-block;
	position: relative;
	background-color: #C6C6C6;
	border: 2px solid;
	border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
	padding: 6px;
	text-align: left;
	white-space: nowrap;
	vertical-align: bottom;
}
.ui-crafting-table
{
	width: 10cm;
	height: 5cm;
}
.grid-crafting-table
{
	/* padding: 5px; */
	/* background: #c6c6c6; */
	display: inline-block;
	padding: 24px 25px;
}
.row-grid-crafting-table
{
	padding: 0;
	margin: 0;
	display: flex;
}
.item-inventory
{
	background: #8b8b8b;
    display: inline-block;
    border: 2px solid;
    border-color: #5b5b5b #ffffff #ffffff #5b5b5b;
	position: relative;		
	cursor: pointer;
}
.grid-item-crafting-table
{
    height: 40px;
    width: 40px;	
	/* box-sizing: border-box; */
}
.grid-item-crafting-table:not(:first-child)
{
	
	
}
.arrow-crafting-table
{
	padding: 40px 30px;
	background: url('Arrow.png') no-repeat;
	display: inline-block;
    vertical-align: sub;
}
.result-crafting-table
{
    /* display: inline-block; */
    padding: 20px;
    /* vertical-align: middle; */
    display: inline-block;
    vertical-align: unset;
    position: relative;
    margin: 25px 0;
}
.item
{
	height: 32px;
    display: block;
    width: 32px;
	background: url('InvSprite.png');
    margin: 4px auto;
}
/* Source code a little bit from w3 school, my favorite school to learn codes */
.item .item-tooltip, .item::after
{
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;

    width: auto;
    /*max-width: 120px;*/
    top: 100%;
    left: 50%;
    margin-left: -60px;

    position: absolute;
    z-index: 1;


    font-family: "Minecraft", "Times New Roman", sans-serif;
    font-size: 10pt;

}
.item:hover .item-tooltip, .item:hover .item::after {
    visibility: visible;
}

.double-zoom { transform: scale(2); }